.top_header {
    font-family: 'Roboto', sans-serif;
}

.first_section, .second_section, .third_section {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Roboto', sans-serif;
}


